.slide {
    width: 667px;
    height: 400px;
    border: 1px solid #888;
    position: relative;
    text-align: center;
    border-radius: 2%;
}
.slide  input {
    display: none;
}
label{
    margin-left: 20px;
    margin-right: 20px;
}
.slide  input + label {
    display: inline-block;
    visibility: visible;
    width: 35px;
    height: 10px;
    border-radius: 8px;

    cursor: pointer;

    z-index: 100;
    position: relative;

    margin-right: 7px;
    top: 75%;

}
.slide  div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
}

.slide  div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.rr {
    width:667px;
    height:400px;
    border-radius: 2%;
}

.slide  input:checked + label + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.slide  div  p {
    position: absolute;
    font-size:18px;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 3px #222;
}
.rar:hover{
    box-shadow: 0px 0px 11px 5px rgb(38, 34, 34);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    filter:alpha(opacity=100);  /*  для IE 5.5+ */
    -moz-opacity:1;  /* для Mozilla 1.6 и ниже */
    -khtml-opacity:1;  /* для Konqueror 3.1, Safari 1.1 */
    opacity:1; /* для Mozilla 1.7b+, Firefox 0.9+, Safari 1.2+, Opera 9 */
}
.rar{
    filter: alpha(opacity=50); opacity: 0.5;
}