main{
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
    background-image: url(../img/io.jpg);
    background-repeat: no-repeat; 
    align-items: center;
    height: 700px;
    overflow-y: hidden;
}
